* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0%;
  padding: 0%;
}

#header {
  opacity: 0.8;
  background-color: black;
  width: 100%;
}

#header img {
  cursor: pointer;
  width: 100%;
}

#header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#header ul li {
  color: white;
  list-style: none;
  padding: 10px;
}

#header ul li a {
  text-decoration: none;
  color: white;
}

#header ul li a:hover {
  color: red;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

#header .ic i {
  color: white;
  cursor: pointer;
}

#header .ic i:hover {
  color: red;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.middle-center {
  padding: 12rem 0;
  position: relative;
  z-index: 15;
}

#top {
  position: relative;
  background-image: url(../image/bg1.jpg);
}

#top::after {
  content: '';
  position: absolute;
  top: 0%;
  bottom: 0%;
  right: 0%;
  left: 0%;
  background-color: black;
  opacity: .7;
}

#top h1 {
  color: #fff;
}

#top a {
  color: #b4afaf;
}

#top a:hover {
  color: red;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#model {
  padding-bottom: 60px;
}

#model .carSlide {
  position: relative;
}

#model .carSlide .pit-bots {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  bottom: 0;
}

#model .carSlide .pit-bots .pit-bot {
  margin: 10px 5px;
  width: 20%;
  border-bottom: 3px solid #fff;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#model .carSlide .slide-item {
  display: none;
}

#model .carSlide .slide-item.caractive {
  display: initial;
}

#model .add button {
  background-color: red;
  border-style: none;
  padding: 8px;
  margin-left: 350px;
  color: #fff;
  border-radius: 5px;
}

#model .add button:hover {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-box-shadow: 0 0 20px 8px #7a0202;
          box-shadow: 0 0 20px 8px #7a0202;
}

#model .add a {
  color: black;
  font-weight: 600;
}

#model .add a:hover {
  color: red;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#model p {
  padding-top: 10px;
}

#model .inp .orderby {
  width: 20%;
  height: 50px;
}

#model .list ul {
  list-style: none;
}

#model .list ul li {
  font-weight: 500;
}

#model .list ul li span {
  color: #fa0303;
}

#model .inp-post {
  padding-top: 60px;
}

#model .inp-post .post {
  padding: 40px;
  border: none;
  border-bottom: 1px solid #3e3e3e;
  color: #fff;
  background-color: #111;
  border-radius: 5px;
}

#model .inp-post .post h2 {
  font-size: 1.9em;
}

#model .inp-post .post h2 img {
  padding-left: 15px;
  width: 23%;
}

#model .inp-post .post .opt {
  padding-top: 20px;
}

#model .inp-post .post .opt .orderby {
  width: 70%;
  height: 50px;
  border-radius: 10px;
  background-color: #3e3e3e;
  color: #fff;
  border-style: none;
  border: 1px solid #3e3e3e;
  cursor: pointer;
}

#model .inp-post .post .opt .orderby:hover {
  background-color: #111;
}

#model .inp-post .ck {
  padding-top: 25px;
}

#model .inp-post .ck .chk {
  padding-top: 5px;
}

#model .inp-post .rng {
  padding-top: 10px;
}

#model .inp-post .rng .rn p {
  text-align: center;
  color: #928f8f;
}

#model .inp-post .rng .rn .slider {
  width: 100%;
}

#model .inp-post .rng .rn .pr h5 {
  font-size: 18px;
}

#model .inp-post .bt {
  padding-top: 50px;
}

#model .inp-post .bt button {
  width: 100%;
  padding: 20px;
  border-radius: 5px;
  background-color: #f82e2e;
  color: white;
  border-style: none;
}

#model .inp-post .bt button:hover {
  background-color: red;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-box-shadow: 0 0 20px 8px #7a0202;
          box-shadow: 0 0 20px 8px #7a0202;
}

#footer {
  background-color: #1d1c1c;
}

#footer h2 {
  padding: 120px 0px 0px 20px;
  color: white;
  font-size: 30px;
}

#footer h2 img {
  width: 15%;
  padding-left: 18px;
}

#footer .about {
  padding-top: 55px;
  padding-left: 18px;
}

#footer .about p {
  padding-top: 10px;
  color: #bbbbbb;
}

#footer .about p a {
  color: white;
  text-decoration: none;
}

#footer .about p a:hover {
  color: red;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#footer .icon {
  padding-top: 20px;
  padding-left: 18px;
}

#footer .icon i {
  font-size: 18px;
  padding: 15px;
  border-radius: 50px;
  border: 1px solid;
  color: #fff;
  background-color: #302f2f;
  border-style: none;
}

#footer .icon i:hover {
  background-color: #ff3837;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#footer .latest {
  padding-top: 55px;
  padding-left: 18px;
}

#footer .latest h4 {
  color: white;
  padding-bottom: 25px;
}

#footer .latest h4 img {
  width: 15%;
  padding-left: 18px;
}

#footer .latest span {
  color: white;
  cursor: pointer;
  font-size: 15px;
}

#footer .latest span:hover {
  color: red;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#footer .latest p {
  cursor: pointer;
  font-size: 15px;
  padding-top: 10px;
  padding-bottom: 25px;
}

#footer .latest p a {
  color: #bbbbbb;
}

#footer .latest p a:hover {
  color: red;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#footer .quest {
  padding-top: 55px;
  padding-left: 18px;
}

#footer .quest input {
  background: none;
  border: none;
  height: 35px;
  width: 70%;
  border-bottom: 1px solid #3e3e3e;
  color: #979797;
}

#footer .quest .i1 {
  height: 60px;
}

#footer .quest .i2 {
  height: 60px;
}

#footer .quest .i3 {
  resize: none;
  padding: 5px 0;
}

#footer .quest button {
  color: #fff;
  border-radius: 5px;
  margin-top: 50px;
  padding-bottom: 0.5em;
  padding: 0.5em 2.5em;
  background-color: #ff3837;
  border-style: none;
}

#footer .quest button:hover {
  background-color: red;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-box-shadow: 0 0 20px 8px #7a0202;
          box-shadow: 0 0 20px 8px #7a0202;
}

#end {
  width: 100%;
  background-color: black;
}

#end p {
  color: #fff;
  padding-top: 30px;
}

#end ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 15px;
}

#end ul li {
  list-style: none;
  padding: 10px;
  color: #fff;
  cursor: pointer;
}

#end ul li:hover {
  color: red;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
/*# sourceMappingURL=style.css.map */